@mixin btn-primary($width: auto, $height: $input-height) {
  border: none;
  width: $width;
  height: $height;
  background: $color-primary;
  border-radius: $radius-sm;
  color: $color-white;
  font: normal normal 500 14px/18px 'Montserrat', sans-serif;
}

@mixin text-center($important: false) {
  text-align: center if($important, !important, null);
}

@mixin text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

@mixin text-lineThrough {
  text-decoration: line-through;
}

@mixin fontSizeTwenty ($color) {
  font: normal normal 500 20px/24px 'Montserrat', sans-serif;
  letter-spacing: 0;
  opacity: 1;
  color: $color;
}


@mixin displayFlex($flexDirection, $alignItems) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
}