// Design tokens
$bg-page: #F4F4F6;
$color-primary: #5285EC;
$color-muted: #537178;
$color-white: #FFFFFF;

$radius-sm: 8px;


$input-height: 40px;
$input-padding: 11px 16px;

$primary-shadow-hover: rgba(79,126,240,0.16);
