@import 'variables';
@import 'mixins';

header {
    height: 72px;
    background: $color-white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding: 0 27px 0 24px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logout-button {
        color: #6D8187;
        border: none;
        height: 19px;
        text-align: right;
        font: normal normal 500 16px/19px 'Montserrat', sans-serif;
        letter-spacing: 0px;
        color: #6D8187;
        opacity: 1;
        background-color: transparent;
    }

    .logout-button:hover {
        transition: transform 120ms ease, box-shadow 160ms ease;
        cursor: pointer;
    }

    .profile-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        .user-name {
            font-size: 16px;
            text-align: left;
            font: normal normal 500 16px/19px 'Montserrat', sans-serif;
            letter-spacing: 0px;
            opacity: 1;
            color: #6D8187;
        }

        .profile-icon {
            display: inline-block;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            margin-right: 16px;
            background: url("https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg") center/contain no-repeat;
            opacity: 1;
        }
    }
}

@media (min-width: 600px) {
    header {
        padding: 0 120px 0 123px;
    }

}